# Rename this file to .env
GOOGLE_GENAI_USE_VERTEXAI="True"
GOOGLE_CLOUD_PROJECT=<YOUR_PROJECT_ID>
GOOGLE_CLOUD_LOCATION=<YOUR_PROJECT_LOCATION>
GOOGLE_CLOUD_STORAGE_BUCKET=<YOUR_STORAGE_BUCKET> # required for video analysis
GCS_BUCKET_PATH="gs://"<GOOGLE_CLOUD_STORAGE_BUCKET>/<SUBFOLDER>

KNOWLEDGE_BASE_PATH=<YOUR_LOCAL_PATH_TO_DOMAIN_SPECIFIC_DOCUMENTS>
EXTENDED_BACKGROUND_KNOWLEDGE_PATH=<YOUR_LOCAL_PATH_TO_DOMAIN_SPECIFIC_DOCUMENTS>

# for confluence
SPACE_KEY="YOUR_SPACE"
PROTOCOL_PAGE=<YOUR_ID>
LAB_NOTE_PAGE=<YOUR_ID>

# for video upload
LOCAL_FOLDER_PATH=<YOUR_PATH>

# for protocol generation
EXAMPLE_PROTOCOL1_PATH=<YOUR_GCS_PATH_TO_EXAMPLE_PROTOCOL_1>
EXAMPLE_VIDEO1_PATH=<YOUR_GCS_PATH_TO_EXAMPLE_VIDEO_1>
EXAMPLE_PROTOCOL2_PATH=<YOUR_GCS_PATH_TO_EXAMPLE_PROTOCOL_2>
EXAMPLE_VIDEO2_PATH=<YOUR_GCS_PATH_TO_EXAMPLE_VIDEO_2>

# for video generation
EXAMPLE_PROTOCOL_PATH=<YOUR_GCS_PATH_TO_EXAMPLE_PROTOCOL>
EXAMPLE_VIDEO_PATH=<YOUR_GCS_PATH_TO_EXAMPLE_VIDEO>
EXAMPLE_LAB_NOTE_PATH=<YOUR_GCS_PATH_TO_EXAMPLE_LAB_NOTE>

ALPHAKRAKEN_MCP_URL="http://alphakraken_mcp:8089/mcp"
CONFLUENCE_MCP_URL="http://confluence_mcp:9000/mcp"
